* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #eee;
    
}
/* header */
header{
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 65px;
    background-color: white;
}

#menu-btn{
    display: flex;
    text-align: center;
    padding: 1.3rem 1rem;
    border: none;
    background-color: transparent;
    transition: fill, color, background-color 0.5s;
    cursor: pointer;
}

#menu-btn:hover{
    fill: white;
    color: white;
    background-color: black;
}

.icon1{
    width: 1.5rem;
    height: inherit;
    margin-right: 0.5rem;
}

.span1{
    padding-left: 0.5rem;
    font-weight: 700;
    font-size: 1.2rem;
}

#side-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 32rem;
    background-color: black;
    z-index: 1;
    transition: left 0.2s;
}

#side-bar.hidden{
    left: -200px;
}

.title{
    margin: 1.25rem;
    margin-bottom: 0;
    width: 10rem;
}

li{
    padding: 0.5rem;
    padding-right: 0;
    margin-bottom: 0.5rem;
    color: white;
}

.name{
    color: white;
    padding: 0.5rem 3.8rem 0.5rem 0;
    text-decoration: none;
}

#overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#overlay.hidden{
    display: none;
}

.info{
    position: fixed;
    width: 20rem;
    right: 4rem;
    transition: right 0.5s;
}

.info.hidden{
    right: -24rem;
}

.image{
    width: 20rem;
}

.title{
    fill: black;
}

main{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: gray;
}

.textbox{
    width: 65rem;
    text-align: center;
    
}