main{
    width: 100vw;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
    
}

.card {
    width: 75%;
    padding: 20px 30px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-radius: 10px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.album{
    width: 130px;
    height: 150px;
}

.album > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.gymName{
    font-weight: bold;
}

.category{
    color: #999fa9;
}

.price{
    font-size: 20px;
    font-weight: bold;
}